<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Quarantine Library</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <script src="https://kit.fontawesome.com/a66c865c20.js" crossorigin="anonymous"></script>

    <link rel="icon" href="/static/img/book.png">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <script type="module" src="static/js/main.js" defer></script>
</head>

<body>

<img class="cover" src="http://placehold.it/400x250/000/fff"
     th:attr="src='/static/img/cover_books.png'" alt=""/>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: sandybrown;">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by Genre
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownGenre">
                    <a class="dropdown-item drop-genre" href="#">All category</a>
                    <a class="dropdown-item drop-genre" href="#">Thriller</a>
                    <a class="dropdown-item drop-genre" href="#">Fantasy</a>
                    <a class="dropdown-item drop-genre" href="#">Satire</a>
                    <a class="dropdown-item drop-genre" href="#">Childrens</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownrecommended" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Recommended by
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item drop-recommender" href="#">All books</a>
                    <a class="dropdown-item drop-recommender" href="#">Gabor</a>
                    <a class="dropdown-item drop-recommender" href="#">Kornel</a>
                    <a class="dropdown-item drop-recommender" href="#">Peti</a>
                </div>
            </li>
        </ul>
        <div class="cart-container">
            <i class="fas fa-shopping-cart fa-2x" data-toggle="modal" data-target="#cartModal"></i>
            <span class='badge badge-warning' id='lblCartCount' data-toggle="modal" data-target="#cartModal" th:text="${cartItemCounter}"> Cart Item Counter </span>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Shopping cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body items-in-cart">
                <th:block th:switch="${cartItems.size()}">
                    <p th:case="0" class="empty-cart-text">Your cart is empty!</p>
                    <th:block th:case="*">
                        <div class="cart-header-container">
                            <div class="cart-product-header">Product</div>
                            <div class="cart-price-header">Price</div>
                            <div class="cart-quantity-header">Quantity</div>
                            <div class="cart-subtotal-header">Subtotal</div>
                        </div>
                        <th:block th:each="cartItem, iterStat : ${cartItems}">
                            <div class="item-div" th:attr="data-bookidcart=${cartItem.getBookID()}">
                                <img class="cover-cart" src="http://placehold.it/400x250/000/fff"
                                     th:attr="src='/static/img/product_' + ${cartItem.getBookID()} + '.jpg'" alt=""/>
                                <div class="author-title-cart">
                                    <p class="author-in-cart" th:text="${cartItem.getAuthorName()}">Author</p>
                                    <p class="title-in-cart" th:text="${cartItem.getTitle()}"></p>
                                </div>
                                <div class="price-in-cart" th:text="${#numbers.formatDecimal(cartItem.getPrice(), 0, 2)} + ' USD'">Price</div>
                                <div class="count-in-cart" th:text="${cartItem.getQuantity()}">Quantity</div>
                                <div class="subtotal-in-cart" th:text="${#numbers.formatDecimal(cartItem.getSubtotal(), 0, 2)} + ' USD'">Subtotal</div>
                            </div>
                        </th:block>
                    </th:block>
                </th:block>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info continue-shopping-cart" data-dismiss="modal">Continue
                    shopping
                </button>
                <button type="button" class="btn btn-success checkout-cart">Checkout</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card not-selected"
                 th:attr="class='card ' + ${prod.getRecommenderName()} + ' ' + ${prod.getGenreName()}">
                <img class="book-image" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.getBookID()} + '.jpg'" alt=""/>
                <div class="card-header">
                    <p class="card-title" th:text="${prod.getName()}">Product name</p>
                </div>
                <div class="card-header-author">
                    <p class="card-author" th:text="${prod.getAuthorName()}">Author name></p>
                </div>
                <div class="card-description">
                    <p class="card-desc" th:text="${prod.getDescription()}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-price">
                        <p class="price-text" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success add-to-cart"
                           th:attr="data-bookid=${prod.getBookID()},data-author=${prod.getAuthorName()},data-title=${prod.getName()},data-price=${prod.getPrice()}">Add
                            to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>